<section class="customer page-width">
  <h1>{{ 'customer.activate_account.title' | t }}</h1>
  <p>{{ 'customer.activate_account.subtext' | t }}</p>

  {% form 'activate_customer_password' %}
    {%- if form.errors -%}
      <div class="customer__errors">{{ form.errors | default_errors }}</div>
    {%- endif -%}

    <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
    <input type="password" name="customer[password]" id="CustomerPassword" autocomplete="new-password" required>

    <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
    <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" autocomplete="new-password" required>

    <button type="submit" class="button button--primary">{{ 'customer.activate_account.submit' | t }}</button>
    <button type="submit" name="decline" class="button button--secondary">{{ 'customer.activate_account.cancel' | t }}</button>
  {% endform %}
</section>
