<section class="customer page-width">
  <h1>{{ 'customer.recover_password.title' | t }}</h1>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {%- if form.posted_successfully? -%}
      <p>{{ 'customer.recover_password.success' | t }}</p>
    {%- else -%}
      {%- if form.errors -%}
        <div class="customer__errors">{{ form.errors | default_errors }}</div>
      {%- endif -%}

      <label for="RecoverEmail">{{ 'customer.login.email' | t }}</label>
      <input type="email" name="email" id="RecoverEmail" autocomplete="email" required>

      <button type="submit" class="button button--primary">{{ 'customer.recover_password.submit' | t }}</button>
    {%- endif -%}
  {% endform %}

  <div class="customer__links">
    <a href="{{ routes.account_login_url }}">{{ 'customer.register.sign_in' | t }}</a>
  </div>
</section>
