<section class="customer page-width">
  <h1>{{ 'customer.register.title' | t }}</h1>

  {% form 'create_customer' %}
    {%- if form.errors -%}
      <div class="customer__errors">{{ form.errors | default_errors }}</div>
    {%- endif -%}

    <label for="RegisterFirstName">{{ 'customer.register.first_name' | t }}</label>
    <input type="text" name="customer[first_name]" id="RegisterFirstName" autocomplete="given-name">

    <label for="RegisterLastName">{{ 'customer.register.last_name' | t }}</label>
    <input type="text" name="customer[last_name]" id="RegisterLastName" autocomplete="family-name">

    <label for="RegisterEmail">{{ 'customer.register.email' | t }}</label>
    <input type="email" name="customer[email]" id="RegisterEmail" autocomplete="email" required>

    <label for="RegisterPassword">{{ 'customer.register.password' | t }}</label>
    <input type="password" name="customer[password]" id="RegisterPassword" autocomplete="new-password" required>

    <button type="submit" class="button button--primary">{{ 'customer.register.submit' | t }}</button>
  {% endform %}

  <div class="customer__links">
    <a href="{{ routes.account_login_url }}">{{ 'customer.register.sign_in' | t }}</a>
  </div>
</section>
