<section class="customer page-width">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
  <p>{{ 'customer.reset_password.subtext' | t }}</p>

  {% form 'reset_customer_password' %}
    {%- if form.errors -%}
      <div class="customer__errors">{{ form.errors | default_errors }}</div>
    {%- endif -%}

    <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
    <input type="password" name="customer[password]" id="ResetPassword" autocomplete="new-password" required>

    <label for="ResetPasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
    <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirmation" autocomplete="new-password" required>

    <button type="submit" class="button button--primary">{{ 'customer.reset_password.submit' | t }}</button>
  {% endform %}
</section>
