<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  {% if settings.favicon %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | image_url: width: 16, height: 16 }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
  {% endif %}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  {{ content_for_header }}

  {{ 'forum-regular.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}
  {{ 'stack-sans-headline-extralight.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <style>
    :root{
      --color-background: {{ settings.color_background }};
      --color-background-alt: {{ settings.color_background_alt }};
      --color-text: {{ settings.color_text }};
      --color-text-muted: {{ settings.color_text_muted }};
      --color-accent: {{ settings.color_accent }};
      --color-border: {{ settings.color_border }};
      --color-button-background: {{ settings.color_button_background }};
      --color-button-text: {{ settings.color_button_text }};
      --font-heading: serif;
      --font-heading-weight: 400;
      --font-heading-style: normal;
      --font-body: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
      --font-body-weight: {{ settings.font_body.weight }};
      --heading-letter-spacing: {{ settings.heading_letter_spacing }}px;
      --page-width: {{ settings.page_width }}px;
      --spacing-sections: {{ settings.spacing_sections }}px;
      --grid-gap: {{ settings.grid_gap }}px;
      --button-radius: {{ settings.button_border_radius }}px;
      --header-logo-width: {{ settings.logo_width }}px;
    }
  </style>
</head>
<body{% if template.name == 'index' %} class="has-hero"{% elsif template == 'page.contact' %} class="has-contact-page"{% elsif template == 'page.sizing-chart' %} class="has-sizing-chart-page"{% elsif template == 'page.our-story' %} class="has-story-page"{% endif %}>
  <a class="skip-to-content" href="#MainContent">Skip to content</a>

  {% sections 'header-group' %}

  {% render 'search-overlay' %}

  <main id="MainContent" role="main" data-page-content>
    {{ content_for_layout }}
  </main>

  {% sections 'footer-group' %}

  {% if settings.cart_type == 'drawer' %}
    {% render 'cart-drawer' %}
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
