<section class="blog page-width">
  <h1>{{ blog.title }}</h1>
  <div class="blog__grid">
    {%- for article in blog.articles -%}
      <a href="{{ article.url }}" class="blog__card">
        {%- if article.image -%}
          <img
            src="{{ article.image | image_url: width: 800 }}"
            alt="{{ article.title | escape }}"
            loading="lazy"
            width="800"
            height="{{ 800 | divided_by: article.image.aspect_ratio | default: 450 }}"
          >
        {%- endif -%}
        <p class="blog__card-title">{{ article.title }}</p>
        <p class="blog__card-date">{{ article.published_at | date: '%B %d, %Y' }}</p>
      </a>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "enabled_on": {
    "templates": ["blog"]
  },
  "settings": []
}
{% endschema %}
